.notice {
  max-width: 600px;
  margin: 10px 0 10px 15px;
  padding: 3px 6px;
  border: 1px solid #D8D8D8;
  -webkit-border-radius: 4px
  -moz-border-radius: 4px;
  border-radius: 4px;
  font-size: 11px;
}
.error {
  border-color: #EED3D7;
  background-color: #F2DEDE;
}
.warning {
  background-color: #FFFFCC;
}
.info {
  max-width: 600px;
  padding: 0px;
  margin: 0 0 0 15px;
  font-size: 11px;
}
.notice ul{
  margin: 5px 0;
}
.notice li{
  margin: 0 0 0 15px;
}

.generic_export_admin h2 {
  padding-top: 15px;
}

.generic_export_admin h3 {
  margin-top: 35px;
}
.generic_export_admin .label {
  margin-right: 10px;
  float: left;
  vertical-align: middle;
  font-weight: bold;
}

#content_to_export input {
  margin-left: 10px;
}

.export_option {
  margin: 10px;
}
.export .button {
  margin: 5px 0 0 20px;
}

.backup_files li {
  margin: 7px;
}
.backup_files .actions {
  margin: 15px 0 0 20px;
}

.activation_button, .deactivation_button {
  float: left;
}

.clear {
  clear:both;
}
